html {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 22px;
  font-weight: 900;
  display: none;
}

body {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  justify-content: center;
  align-items: center;
  background: lightgray;
  opacity: 70%;
  margin: 1rem;
  display: none;
  width: 70%;
  padding: 1rem;
  border-radius: 5px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.1rem;
}  

section {
  width: 70%;
}

.filter_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.filter {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  color: black;
}

#filter {
  text-transform: capitalize;
}

.search_container {
  display: flex;
  justify-content: center;
}

.inner_filter_container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

h1 {
  color: black;
}

h2 {
  text-transform: uppercase;
}

input {
  width: 100%;
  height: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

#card {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.card_header,
.sprite_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.move_container, 
.type_moves_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.move_container {
  height: 15rem;
}

.type_moves_container {
  height: 20rem;
}

.stats_container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
  margin: 1rem 0;
}

.stat {
  text-align: right;
}

#types,
.move_container > p,
.stats_container > span {
  text-transform: uppercase;
  font-weight: bold;
}

.gen_info,
.type_info {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 18px;
}

.capital {
  text-transform: capitalize;
}
